<p>
  <strong>Movie's Title:</strong>
    <%= @movie.title %>
</p>

<p>
  <strong>Distributor:</strong>
    <%= @movie.distributor %>
</p>

<p>
  <strong>Release Date:</strong>
    <%= @movie.release_date %>
</p>

<p>
  <strong>Weeks in Theater:</strong>
    <%= @movie.weeks %>
</p>

<p>
  <strong>Number of Copies:</strong>
    <%= @movie.number_of_copies %>
</p>

<p>
  <strong>Spectators Per Week:</strong>
    <%= @movie.spectators_per_week%>
</p>

<p>
  <strong>Total of Spectators:</strong>
    <%= @movie.total_spectators %>
</p>

<p>
  <strong>Satisfaction Rate:</strong>
    <%= (@movie.satisfaction_rate * 100).round %>%
</p>

<p>
  <strong>Cities:</strong>
    <% @movie.cities.each do |city|%>
    <li> <%= city.city %> </li>
    <% end %>
</p>

<%= link_to 'Back', movies_path %>
